.navbar-dark .navbar-nav .nav-link{
    color: rgb( 255,255,255) !important;
    font-weight: 400;

}

#img1{
    height: 300px;
    width: 100%;
}

#img2{
    height: 300px;
    width: 100%;
}

#img3{
    height: 300px;
    width: 100%;
}